* { /* para seleccionar todo */
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: beige;
}

div, ul, nav, header, footer, a, li, label, body {
    margin: 0;
    padding: 0;
}

/* ------------ HEADER ------------ */

.header {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
    position: sticky;
    top: 0;
    animation-range: 10px 100px;
    box-shadow: 0 0 20px 0 #0007;
    z-index: 10;
    text-align: center;
    font-size: 20px;

    color: #18233fee;
}

.header__open-nav-button {
    color: #48e;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header .header__checkbox {
    display: none;
}

.header__nav {
    display: none;
    background-color: initial;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    gap: 20px;
    justify-content: space-around;
    margin-right: 150px;
    list-style: none;
}

.header__checkbox:checked ~ .header__nav { /* para modificar el hermano uso la virguilla, las modificaciones las hace el header__nav por defecto para mejorar el consumo de recursos */
    display:flex;
}

.header__nav-item a {
    color: inherit;
    text-decoration: none;
}

.header__nav-item a:hover {
    text-decoration: underline;
}

.header__logo {
    max-width: 100%;
    width: 64px;
    margin: 10px 20px;
}


/* --------------- HEADER QUERIES ------------ */

@media screen and (min-width: 600px) {
    .header {
        padding: 20px 0;
        /* animation: header-movement both; */
        /* animation-timeline: scroll(); */
        position: sticky;
        top: 0;
        animation-range: 10px 100px;

        transition: padding 0.3s;
    }

    .header.scrolled {
        padding: 0;
    }
}



/* header animation */

@keyframes header-movement {
    from {
        padding: 20px 0;
        /* background-color: #fff; */
    }
    
    to {
        padding: 0;
        /* background-color: #0008;
        color: #fff; */
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

/* ----------------- */

@container header (min-width: 600px) { /* solo modifico al contenedor de ese nombre */
    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }
    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
    }
    
    .header__open-nav-button {
        display: none;
    }
}

/* --------- MAIN SECTION ---------  */

.main__img {
    max-width : 100%;
    object-fit: cover;
}

.main__description {
    text-align: justify;
    font-size: 20px;
    width: 100%;
}

.main__data-container { 
    padding: 12px;
}

.main__title {
    color: #18233f;
    text-align: center;
}

/* ------- BANNER ------ */

.main__img-container {
    width: 100vw;
    height: 300px;
    overflow: hidden;
    margin: 0;
    background-size: cover;
    background-image: url(img/banner.jpeg);
    /* background-position: center top; */
    background-repeat: no-repeat;
    background-position: center -60px;
    background-attachment: fixed;
}

/* ------- BANNER END -------- */

.main__wrapper {  
    position: relative; display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color:#fff;
    max-width: 1200px;
}

.main {
    container-name: main;
    animation: aparecer 3s -.6s both; /* animacion para que aparezca */
}

/* ------- MAIN QUERIES ------ */

@container main (min-width:720px) {
    .main__wrapper {
        flex-direction: row;
        padding: 20px;
        background-color: transparent;
        height: 90vh;
        margin: auto;
    }

    h1 {
        margin-top: 0;
        font-size: 3rem;
        text-wrap: balance;
    }

    .main__img {
        height: auto;
        object-fit: cover;
        width: 100%;
        background-color: #fff;
    }

    .main__data-container {
        background-color: #fff;
        display: flex;
        align-items: center;
        border-radius: 0px 15px;
    }

    .main__img-container {
        height: 100%;
        background-color: #fff;
    }
}

/* ---------- NOVEDADES ------- */

.novedades {
    background-color: #18233fee;
    justify-content: space-evenly;
    color:#0009;
    font-weight: bold;
    max-height: 70vh;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: novedades;
    container-type: inline-size;
}

.novedades__noticia-container {
    display: flex;
    margin: auto;
    gap: 50px;
    padding: 12px;
    min-height: 400px;
    margin-bottom: 6cqb;
}

.novedades__noticia {
    background-image: url("img/eempalogo.png"), linear-gradient(#0006, #0009);
    background-position: center 80px;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: grid;
    place-content: center; /* centrar elementos dentro del div */
    padding: 20px;
    width: 300px;
    animation: aparecer both;
    animation-timeline: view(); /* mientras los elementos se van viendo van apareciendo */
    animation-range: cover 20% contain 50%;
}

.novedades__noticia:hover {
    opacity: 0.7;
    outline: 2px solid #fff3;
}

.novedades__title {
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 15px;
}

/* -------- NOVEDADES QUERIES -------- */

@container novedades (min-width: 56.25rem) {
    .novedades__noticia-container {
        grid-template-columns: repeat(auto-fill,minmax(420px,1fr));
    }

    .novedades__noticia:first-child {
        grid-column: span 2;
    }

    .novedades__noticia:nth-child(6) {
        grid-column: span 2;
    }
}
@container novedades (min-width: 81.25rem) {
    .novedades__noticia-container {
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    }

    .novedades__noticia:first-child {
        grid-column: span 2;
        grid-row: span 2;
    }

    .novedades__noticia:nth-child(6) {
        grid-column: span 4;
    }
}

/* ----------- NOVEDADES END --------- */

/* ----------- CRONOGRAMA ----------- */

.cronograma__container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0;
    background-color: brown;
}

.cronograma__card {
    width: 300px;
    background-color: #f0f0f0;
    overflow: hidden;
    box-shadow: 0 2px 4px #0006;
    margin: 20px;
    border-top: 2px solid #000;
}

.card__img {
    width: 100%;
    height: auto;
}

.cronograma__card-content {
    padding: 16px;
}

.cronograma__title {
    font-size: 2.4rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: brown;
    width: 100%;
    height: 200px;
    color: #fff;
    display: grid;
    place-content: center;
}

.cronograma__card-title {
    font-size: 28px;
    margin-bottom: 8px;
    margin: auto;
    text-align: center;
}

.cronograma__card-content p {
    color: #666;
    font-size: 15px;
    line-height: 1.3; 
}

.cronograma__card-content .btn:hover {
    opacity: 0.7;
}

.cronograma__card-content .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    color: #fff;
}

/* ----------- CRONOGRAMA END ----------- */

/* ---------- CONTACTO ---------- */

.form {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    container-name: form;
    container-type: inline-size;
}

.form__form {
    display: grid;
    padding: 12px;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 30px;
}

.form__input-container input, .form__input-container textarea {
    width: 70%;
    padding: 9px ;
    margin: 4px;
    border: none;
    box-shadow: none;
    border-radius: 4px;
    background-color: #fffd;
    font-size: 16px;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"] {
    padding: 12px;
    background-color: #18233f;
    color: #fff;
}

.form__title {
    font-size: 2.4rem;
    text-transform: uppercase;
}

/* ---------- FORM QUERIES ---------- */

@container form (min-width: 56.25rem ) {
    .form__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "name name"
        "email email"
        "message message"
        "button button"
        ;
        gap: 12px;
        background-image: radial-gradient(#18233f06, #18233f33);
        border-radius: 12px;
        box-shadow: 0 0 20px #0003;
    }

    .form__input-container:first-child {
        grid-area: name; /* le asigno el primer area al nombre */
    }
    .form__input-container:nth-child(2) {
        grid-area: email;
    }
    .form__input-container:nth-child(3) {
        grid-area: message;
    }
    .form__input-container:nth-child(4) {
        grid-area: button;
    }
}

/* ------------ CONTACT END ------------ */

/* ------------ FOOTER ------------ */

/*  TERMINAR !!!!!!!!!!!!!!!!! */

footer {
    padding: 60px;
    text-align: center;
    background-color: #18233f;
    color:#fffd;
    font-size: 22px;
}

